<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Employees.plist
   oneContact

   Created by iero on 25/07/2016.
   Copyright (c) 2016 Total. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>J0235385</key>
        <dict>
            <key>surname</key>
            <string>FABRE</string>
            <key>name</key>
            <string>Gregori</string>
            <key>entity</key>
            <string>EP/SCR/TF-DIGITAL</string>
        </dict>
    </dict>
</plist>
