<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>igg</key>
	<string>J0235385</string>
	<key>surname</key>
	<string>FABRE</string>
	<key>name</key>
	<string>Gregori</string>
	<key>entity</key>
	<string>EP/SCR/TF-DIGITAL</string>
</dict>
</plist>
